.movies-image {
	border-radius: 5px;
	transition: transform 0.3s ease;
	border-radius: 1 0px;
	width: 200px;
	height: 200px;
	cursor: pointer;
	background-image: url("../../assets/Images/play-buttton.png");
}
.movies-image:hover {
	transform: translateY(-5px);
	box-shadow: 0px 0px 4px 4px rgba(255, 245, 245, 1),
		0px 0px 4px 4px rgba(12, 11, 9, 1), 0px 0px 4px 4px rgba(0, 0, 0, 1);
}
.papasha {

	padding-top: 30px;
	color: white;
	flex-wrap: wrap;
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 10px;
}
